<div class="jumbotron" style="color:#fff">
    <!-- We don't want to print anything if the person is not an Admin for security reasons -->
    <ng-container *ngIf="isAdmin===true">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th> User </th>
                    <th> Can can edit data </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList">
                    <td>
                        {{user.email}}
                    </td>
                    <td style="text-align: center;">
                        <div *ngIf="user.userRank>0;" class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{user.uid}}customCheck1" checked (change)="changeRank(user, $event)">
                            <label class="custom-control-label" for="{{user.uid}}customCheck1"></label>
                        </div>
                        <div *ngIf="user.userRank==0;" class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{user.uid}}customCheck1" (change)="changeRank(user, $event)">
                            <label class="custom-control-label" for="{{user.uid}}customCheck1"></label>
                        </div>
                    </td>
                </tr>

                <tr *ngFor="let user of adminsList">
                    <td>
                        {{user.email}}
                    </td>
                    <td style="color:red; text-align: center;">
                        Admin
                    </td>
                </tr>

                <tr *ngFor="let user of noEmailUsersList">
                    <td>
                        {{user.email}}
                    </td>
                    <td style="color:lightgray; text-align: center;">
                        Email not verified
                    </td>
                </tr>
            </tbody>
        </table>

    </ng-container>
</div>