<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<ul>
    <div class="commentaires" *ngFor="let commentaire of commentaires">
      <div class="container">
        <img 
          src='TODO : Look at the dataSmart for upload Avatars Pictures ! #PINIST DataSmart => Store data on PINISY/datSmart JSON model and ElastiSearch (fire base core )'
          height="45px" width="45px">
          modifications has been made by 
          
           {{getUserName(commentaire.idUserPost).email}}

        In Xml : {{commentaire.xmlChange}}.

        {{commentaire.codeBefore}}

        had been change to 

        {{commentaire.codeAfter}}
        <span class="time-right">{{getDate(commentaire.editTime)}}</span>
        <div>
      
    <button class= "glyphicon glyphicon-comment" type="submit" (click)="ShowMeComment(commentaire)"></button>
 </div>
  </div>
  <div *ngIf='commentaire.showCom'>
  <p>             
            <input [(ngModel)]="tmpMessage"/>
          </p>
           <button type="button" (click)="addNewCom(commentaire)">Comment</button>
    <a *ngIf='commentaire.listCommentaires != null'>
      <div *ngFor="let com of commentaire.listCommentaires">
        <div class="container darker">
          <img
            src='TODO : Look at the dataSmart for upload Avatars Pictures ! #PINIST DataSmart => Store data on PINISY/datSmart JSON model and ElastiSearch (fire base core )'
            alt="Avatar" class="right">
          <p> {{com.message}}</p>
          witred by           {{commentaire.idUserPost}}
          <span class="time-left">{{commentaire.editTime.get}}</span>
        </div>
      </div>
    </a>
  </div>
  <h3>

  </h3>

  </div>

</ul>