<body> 
    <header></header>
    <article>
        <div class="topnav">
            <a routerLinkActive="active" routerLink="comments">Commentaire </a>
            <a *ngIf="isAuth" routerLink="edition">EditPage</a>
            <a *ngIf="isAuth" routerLink="addFile">Add Doc</a>
            <a zrouterLink="actu">FeedActu</a>
            <a *ngIf="!isAuth" routerLink="sign-up">Register</a>
            <a *ngIf="!isAuth" routerLink="sign-in">Log In</a>
            <a *ngIf="isAuth" routerLink="sign-out">Log Out</a>
              
        </div> 
    <div class="container">
        <div class="row justify-content-center">
            <router-outlet></router-outlet>
        </div>
    </div>
    

</article>
<footer></footer>
</body>
