.superList {
  list-style-type: none; 
}

.row-selected {
  background-color: #5facff;
}

.button-selected {
  background-color: #5facff;;
  border-color: #5facff;
}

.table-hover tbody tr:hover td {
  background: #adbed1;
  cursor: pointer;
}

/*Hide arrows for numeric input*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}