<div class="container">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                  <label for="name">
                    XML URL to load (ex: https://raw.githubusercontent.com/immregistries/codebase/master/base/sets/Vaccination%20CVX%20Code.xml)
                  </label>
                  <input type="text" id="url_search" class="form-control" name="url" ngModel required>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Search</button>
              </form>
    <div class="File-menu" >
        
      <!--  <app-edit *ngFor="let element of datas; let i = index "
                [id] = "element.id"
                [data] = "element.data"
                [index] = "i"
        ></app-edit>-->
    </div>
</div>
    
    
