<div class="jumbotron" style="color:#fff">
<div class="display-table">
    <div class="display-table-cell">
  
      <div class="auth-block">
        <h3>Thank You for Registering</h3>
  
        <div class="form-group" *ngIf="authenticationService.userData as user">
          <p class="text">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text">Please check your email and click on the link to verfiy your email address.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="authenticationService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </button>
        </div>
  
      </div>
  
      <div class="redirect-to-login">
        <span>Go back to?<span class="text-info" routerLink="/sign-in"> Sign in</span></span>
      </div>
  
    </div>
  </div>
</div>