/* Coolors Exported Palette - coolors.co/0d1321-1d2d44-9db4c0-3e5c76-fca311 */

/* HSL */
$color1: hsla(222%, 43%, 9%, 1);
$color2: hsla(215%, 40%, 19%, 1);
$color3: hsla(201%, 22%, 68%, 1);
$color4: hsla(208%, 31%, 35%, 1);
$color5: hsla(37%, 98%, 53%, 1);

/* RGB */
$color1: rgba(13, 19, 33, 1);
$color2: rgba(29, 45, 68, 1);
$color3: rgba(157, 180, 192, 1);
$color4: rgba(62, 92, 118, 1);
$color5: rgba(252, 163, 17, 1);