<div  class="jumbotron" style="color=#fff">
<div *ngIf="isAdmin" class="jumbotron" fxLayout="row" fxLayoutAlign="start stretch" >
       
        <button (click)="Local()" class="btn btn-danger  #inputbc">FROM LOCAL</button>
         <button (click)="URL()" class="btn btn-danger   #inputbc">FROM   URL</button>
</div>

    <div class="form-group" style="color=#fff" *ngIf ="Url===true || local==true">
        <form  (ngSubmit)="onSubmitForm(f)" #f="ngForm" class="control-label" style="color:#fff" *ngIf="Url===true">
           Link to the file to convert:  <br>
           <br>

            <input class="form-control" type="text" id="url" name="url" ngModel required>
            <input class="btn btn-primary" type="submit" value="Add Document">
        </form>
    </div>
    <form class="form-group" class="control-label" style="color:#fff" *ngIf="local===true">
        <div>
            <br>
            <label for="file-input">Choose File:</label>
            <input type="file" class="form-control-file " id="file-input" (change)="readFile($event)" >
        </div>
    </form>
</div>
