<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="edition">Codes</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isAuth" class="nav-link" routerLinkActive="active" routerLink="comments">Changes</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isAuth" class="nav-link" routerLink="userData">Settings</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isAdmin" class="nav-link" routerLink="admin">Admin</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isAdmin" class="nav-link" routerLink="addFile">Upload</a>
        </li>
        
        <li class="nav-item">
          <a *ngIf="!isAuth" class="nav-link" routerLink="sign-up">Register</a>
        </li>
          <li class="nav-item">
          <a *ngIf="!isAuth" class="nav-link" routerLink="sign-in">Log In</a>
        </li>
          <li class="nav-item">
          <a *ngIf="isAuth" class="nav-link" routerLink="sign-out">Log Out</a>
        </li>
      </ul>

      <div class="navbar-nav nav-right">
        <div class="nav-item">
          <h4 style="color:white;">MQE Knowledge Base</h4>
        </div>
      </div>
    </div>
  </nav>
        <header></header>
     <alert></alert>
      <article>
      <div class="row justify-content-center">
            <router-outlet></router-outlet>
        </div>
      
  
  </article>
  <footer></footer>
